<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma-rtl.min.css">
  <script src="https://kit.fontawesome.com/6c19e31162.js" crossorigin="anonymous"></script>
</head>

<body style="overflow: hidden">
  <header class="hero is-small is-black">
    <div class="hero-body">
      <h1 class="title is-5">Inloggen bij</h1>
      <h1 class="subtitle is-5">Praktijk Raccoon</h1>
    </div>
  </header>
  <section class="section">
    <div class="columns is-centered">
      <div class="column is-4">
        <h1 class="title is-5">Inloggen als <b>administrator</b></h1>
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left">
            <input class="input" type="password" />
            <span class="icon is-small is-left">
              <i class="fas fa-at"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label">Wachtwoord</label>
          <div class="control has-icons-left">
            <input class="input" type="password" />
            <span class="icon is-small is-left">
              <i class="fas fa-fingerprint"></i>
            </span>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <a class="button is-link">Inloggen</a>
          </div>
          <div class="control">
            <a class="button is-link is-light">Terug</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>