<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/6c19e31162.js" crossorigin="anonymous"></script>
</head>

<body style="overflow: hidden">
    <header class="hero is-small is-black">
        <div class="hero-body">
            <div class="level">
                <div class="level-left">
                    <div class="container">
                        <h1 class="title is-5">Administrator bij</h1>
                        <h1 class="subtitle is-5">Praktijk Raccoon</h1>
                    </div>
                </div>
                <div class="level-right">
                    <a href="/signout" class="button is-info">Uitloggen</a>
                </div>
            </div>
        </div>
    </header>
    <section class="section">
        <div class="columns is-variable is-8 is-centered">
            <div class="column is-3">
                <h1 class="title is-5">Zoek afspraken</b></h1>
                <form action="/admin/dashboard/" method="get">
                    <label class="label">Dag</label>
                    <div class="field is-grouped">
                        <div class="control">
                            <input id="dateInput" name="day" class="input" type="date" />
                        </div>
                        <div class="control">
                            <input class="button is-info" type="submit" value="Zoek" />
                        </div>
                    </div>
                </form>
                <br>
                <h1 class="title is-5">Maak een tijdslot</b></h1>
                <form action="/" method="POST">
                    <label class="label">Van</label>
                    <div class="field">
                        <div class="control">
                            <input name="start" class="input" type="datetime-local" />
                        </div>
                    </div>
                    <label class="label">Tot</label>
                    <div class="field">
                        <div class="control">
                            <input name="end" class="input" type="datetime-local" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="button is-info" type="submit" value="Maak" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="column is-6">
                <h1 class="title is-5">Gevonden afspraken</h1>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Tijd</th>
                            <th>Naam</th>
                            <th>Email</th>
                            <th>Behandeling</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12-02-2020</td>
                            <td>14:00</td>
                            <td>Bert van Sesamstraat</td>
                            <td>bertnieternie@sesamstraat.nl</td>
                            <td>Voetreflex</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>

</html>